@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

@font-face {
    font-family: 'android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
    
}

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'roboto', sans-serif;
    --font-android: 'android', cursive;
}
*{
    padding: 0;
    margin: 0;
}

strong{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}

body{
    background-color: rgb(185, 172, 196);
    color:rgb(0, 0, 0) ;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif 
}

main p{
    margin: 10px 3%;
    padding: 1px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.7em;
}

abbr{
    text-decoration: none;
}

main a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 2px 4px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000000d2;
}

main a:hover{
    text-decoration: underline;
    text-shadow: none
}

header {
    background-image:linear-gradient(to top, #393947, #6464C8);
    min-height: 150px;
    text-align: center;
    padding-top: 5px;
    font-family: var(--font-destaque);
    text-shadow: 4px 4px 4px #222241b6;
    
}

header h1 {
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
    font-family: var(--font-destaque);
    font-size: 3em;
}

header p {
    padding-bottom: 20px;
    color: rgb(255, 255, 255) 
    

}

nav {
    background-color: #393947;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

nav a{
    color: #a16abb;
    font-weight: bold;
    text-decoration: none;
    font-family: var(--font-destaque);
    padding: 10px;
    transition-duration: .5s;
    border-radius: 5px;

}

nav a:hover {
    background-color: rgb(255, 255, 255);
    color: #393947;
    padding: 2px;
    border-radius: 5px;
}

main{
    background-color: rgba(112, 79, 126, 0.527);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 4px 4px 4px #22224183;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
    border-radius: 6px;
}

main h2{
    color: #222241;
    font-family: var(--font-android);
}

main h3{
    color: #222241;
    font-family: var(--font-android);
}

main img.pq{
    width: 20%;
    display: block;
    margin: auto;
}

main div.video{
    background-color: #222241;
    border-radius: 0px;
    margin: 0px -20px;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
    
    
}

div.video > iframe{
    position: absolute;
    top: 5%;   
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #9393c74d;
    border-radius: 6px;
    box-shadow: 4px 4px 4px #22224183;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: none;
    padding: 20px;
}

aside h3{
    padding: 10px 20px;
    background-color: #222241;
    color: white;
    font-family: var(--font-padrao);
    border-radius: 6px 6px 0px 0px;
    

}

footer{
    background-color: #222241;
    color: white;
    padding: 5px;
    text-align: center;
}
footer strong{
    color: white;
    text-decoration: underline;
    text-shadow: none
    
}
a.externo::after{
    content: '\1F517';
}