@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: linear-gradient(to top, #6464C8, #B353E6 );
}
p{
    text-align: justify;
}
main{
    background-color: white;
    width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #552681;
}
h1{
    color: #5381E6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
h2{
    color: #E353E6;
}
